.css-property {
  color: #80c040;
  font-size: 20px;
  font-weight: bold;
}

.css-value {
  color: darkslateblue;
  font-size: 20px;
  cursor: pointer;
}
.css-value:hover,
.css-value:focus {
   outline: 0
}

.css-token {
  padding-right: 5px
}

.css-value:hover,
.css-value:focus,
.css-token:hover,
.css-token:focus {
    outline: 0
}