.chb {
  display: inline-block;
  width: 23px;
  height: 23px;
  padding: 1px;
  border-radius: 2px;
  border: 2px solid transparent;
  cursor: pointer;
}
.chb:focus {
  outline: 0;
  border: 2px solid #fdb316;
}

.bt-chb {
  display: inline-block;
  color: black;
  background-color: transparent;
  padding-left: 12px;
  line-height: inherit;
  font-size: 16px;
  font-family: Roboto, Arial, Lato, sans-serif;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}
.chb:hover,
.bt-chb:hover,
.bt-chb:focus {
  outline: 0;
}

.bt-div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bt-flat {
  color: #009688;
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, Arial, Lato, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.bt-flat:hover {
  outline: 0;
}
.bt-flat:focus {
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__div {
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  height: 36px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.bt-flat__div:hover {
  background-color: rgba(120, 120, 120, 0.2);
}

.bt-flat__span {
  position: relative;
  opacity: 1;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  user-select: none;
}
