.header {  
  display: flex;
  width: 100%;
  background-color: rgba(77, 77, 77, 1);
  min-height: 46px;
  max-height: 46px;
  padding-top: 8px;
  padding-left: 12px;
  margin-bottom: 16px;
  /* stylelint-disable */
  box-shadow: rgba(0,0,0, 0.14) 0px 0px 4px, rgba(0,0,0, 0.6) 0px 4px 8px;
  /* stylelint-enable */
  z-index: 50;
}
.header__icon-app {
  display: inline-block;  
  width: 32px;
  height: 32px;
  margin-right: 10px;
  cursor: default;
}
.header__label-app {
  display: inline-block;
  color: #80c040;
  margin-top: 9px;
  margin-right: 6px;
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .header__label-app {
    display: none;
  }
}

.header__github-link {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 24px;
  text-decoration: none;
  fill: grey;
  transition: fill 200ms ease-out;
}
.header__github-link svg {
  width: 2.5rem;
  height: 3rem;
}
.header__github-link:hover,
.header__github-link:focus {
  fill: #00bcd4;
}
